[Unit]
Description=Schoolbell Daemon
After=network.target schoolbell-web.service
Wants=network.target schoolbell-web.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/schoolbell

EnvironmentFile=/etc/schoolbell/daemon.env

Environment="SCHOOLBELL_CONFIG=/etc/schoolbell/config.json"
Environment="API_BASE=http://127.0.0.1:5000"
Environment="SCHOOLBELL_WEB_USER=admin"
Environment="SCHOOLBELL_WEB_PASS=geheim123"

ExecStart=/home/pi/schoolbell/venv/bin/python -u /home/pi/schoolbell/schoolbelldaemon.py

Restart=always
RestartSec=2

# Netjes stoppen
TimeoutStopSec=15
KillSignal=SIGTERM
KillMode=mixed

[Install]
WantedBy=multi-user.target
